#body {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

rect {
    fill: none;
    pointer-events: all;
}

pre {
    font-size: 18px;
}

line {
    stroke: #0E0;
    stroke-width: 1.5px;
}

.string, .regexp {
    color: #f39;
}

.keyword {
    color: #00c;
}

.comment {
    color: #777;
    font-style: oblique;
}

.number {
    color: #369;
}

.class, .special {
    color: #1181B8;
}

a:link, a:visited {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: #666;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 13px;
}

.node text {
    font-size: 18px;
}

/*path.link {
    fill: none;
    stroke: indianred;
    stroke-width: 3.0px;
}*/
.link {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.link2 {
    stroke: red;
    stroke-width: 3px;
}
body {
  margin: 30px;
}

.box {
  display: inline-block;
  color: white;
  font-size: 25px;
  padding: 40px;
  width: 300px;
  height: 300px;
}

.btn {
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 1px solid #005bac;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #005bac;
  padding: 15px 10px 5px;
  position: fixed;
  text-align: center;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
	transition: all 0.3s ease;
}
.btn:hover {
  background: #eef;
}

.zoom {
  bottom: 190px;
}

.zoom-out {
  bottom: 120px;
}
.zoom-init {
  bottom: 50px;
}